@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.appHeight {
  height: 100dvh;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button,
input,
a,
select,
textarea {
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.pickAnimation {
  animation: pickAnimation 0.75s forwards;
}

@keyframes pickAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
